body {
    background-color : #312A2B;
}
.center { 
    height: 100%;
    position: relative;
    border: 0; 
}
.center .box {
    width:90%;
    height: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

input {
    border:0px;
    width: 75%;
    height: 40px;
    font-size: 14pt;
    box-shadow: none;
    padding-left: 20px;
}
input:focus {
    outline: none;
}

.submit {
    background-color: #BF3E3E;
    color: white;
}
.loginUP {
    font-size: 13pt;
    color:rgb(175, 175, 175);
}
.contents {
    font-size: 18pt;
}
.line {
    line-height: 50px;
}

a:link {text-decoration: none; color: #ffffff;}
a:visited {text-decoration: none; color: #ffffff;}
a:active {text-decoration: none; color: #ffffff;}
a:hover {text-decoration: underline; color: #BF3E3E; text-decoration:none; font-weight: bolder;}